.span12{
border:solid 1px grey;
background-color:#F2F3F4;
}
.vip {
background-color: #F2F3F4;
padding-top: 5px;
padding-bottom: 10px;
border-radius:5px;
border:solid 1px #e0e0d1;
}


.footer-bottom {
	background-color: #fff;
	min-height: 30px;
	width: 100%;
}
.copyright {
    color: #000000;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
		text-align: center;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: RGB(240, 128, 128);
}

a:focus, a:hover {
    color: RGB(240, 128, 128);
}

a {
    color: rgb(196, 84, 84);
}

.msg {
		background: #fefefe;
		color: #666666;
		font-weight: bold;
		font-size: small;
		padding: 12px;
		padding-left: 16px;
		border-top: solid 3px #CCCCCC;
		border-radius: 5px;
		margin-bottom: 10px;
		-webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
			 -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
						box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.msg-clear {
		border-color: #fefefe;
		-webkit-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
			 -moz-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
						box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
}
.msg-info {
		border-color: RGB(240, 128, 128);
}
.msg-success {
		border-color: RGB(240, 128, 128);
}
.msg-warning {
		border-color: rgba(255,165,0,.5);
}
.msg-danger {
		border-color: #ec8282;
}
.msg-primary {
		border-color: #9ca6f1;
}
.msg-magick {
		border-color: #e0b8f2;
}
.msg-info-text {
		color: #39b3d7;
}
.msg-success-text {
		color: #80d651;
}
.msg-warning-text {
		color: #db9e34;
}
.msg-danger-text {
		color: #c9302c;
}
.msg-primary-text {
		color: rgba(47,106,215,.9);
}
.msg-magick-text {
		color: #bb39d7;
}
